<ion-tabs *ngIf="isLoggedIn && locationService.getLocation()">
  <ion-tab [root]="tab1Root" tabTitle="Karte" tabIcon="map" *ngIf="isLoggedIn"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Rangliste" tabIcon="trophy" *ngIf="isLoggedIn"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Rätsel" tabIcon="key" *ngIf="isTeam"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Standort" tabIcon="navigate" *ngIf="isMrx"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Infos" tabIcon="book" *ngIf="isLoggedIn"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="Nachrichten" tabIcon="megaphone" [tabBadge]="notificationCount" tabBadgeStyle="danger" *ngIf="isLoggedIn"></ion-tab>
</ion-tabs>
<ion-content *ngIf="isLoggedIn && !locationService.getLocation()">
  <ion-card>
    <ion-card-header>
      <ion-icon name="navigate"></ion-icon> GPS Position suchen...
    </ion-card-header>
    <ion-card-content>
      <div class="searching-gps">
        <ion-spinner></ion-spinner> <br>
        GPS Position wird gesucht...
      </div>
      Es ist keine GPS Position verfügbar. Ohne GPS kann dieses Spiel leider nicht gespielt werden.<br>
      <br>Bitte überprüfe folgende Dinge:
      <ul>
        <li>Hast du dein GPS aktiviert?</li>
        <li *ngIf="platform.is('cordova')">Hast du der App erlaubt, auf den Standort zuzugreifen?</li>
        <li *ngIf="platform.is('mobileweb') || platform.is('core')">Hast du der Webseite erlaubt, auf den Standort zuzugreifen?</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-content *ngIf="platform.is('android') && platform.is('mobileweb') && !androidWarningDismissed">
  <ion-card>
    <ion-card-header>
      Android App
    </ion-card-header>
    <ion-card-content>
      <b>Du solltest die <a href="https://play.google.com/store/apps/details?id=com.ionicframework.app580766" target="_blank">Android App herunterladen</a>! Sie ist schneller und genauer.</b>
      <br><br>
      Im Android Webbrowser kann der Standort leider nicht so genau bestimmt werden, dass es für das Spiel nützlich ist. Darum empfehlen wir die App herunterzuladen.
      <br><br>
      <p>
        <button ion-button full color="secondary" (click)="openAppLink()">Download App</button>
      </p>
      <br><br><br><br><br><br><br><br><br><br><br>
      <div style="opacity: 0.3;">
        <a (click)="androidWarningDismissed = true;">Trotzdem die Web-App benutzen</a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="!isLoggedIn">
  <ion-card>
    <ion-card-header>
      Pio X - Anmelden
    </ion-card-header>
    <ion-card-content>

      Wilkommen bei Pio X. Um diese App zu nutzen musst du dich zuerst anmelden.
      <br><br>
      Scanne den QR Code den du erhalten hast, dann wirst du automatisch angemeldet.
      <br><br>
      <div *ngIf="platform.is('android') && platform.is('cordova')">
        <native-login></native-login>
      </div>

      <!--
      DEV Tip: <a href="login.html">login.html</a>
      -->

    </ion-card-content>
  </ion-card>
</ion-content>


