<ion-tabs *ngIf="isLoggedIn">
  <ion-tab [root]="tab1Root" tabTitle="Karte" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Rangliste" tabIcon="trophy"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Rätsel" tabIcon="key"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Infos" tabIcon="book"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Nachrichten" tabIcon="megaphone" [tabBadge]="notificationCount" tabBadgeStyle="danger"></ion-tab>
</ion-tabs>
<ion-content *ngIf="!isLoggedIn">
  <ion-card>
    <ion-card-header>
      Pio X - Anmelden
    </ion-card-header>
    <ion-card-content>
      Wilkommen bei Pio X. Um diese App zu nutzen musst du dich zuerst anmelden.
      <br><br>
      Scanne den QR Code den du erhalten hast, dann wirst du automatisch angemeldet.
      <br><br>
      DEV Tip: <a href="login.html">login.html</a>
    </ion-card-content>
  </ion-card>
</ion-content>
