.content {
	width: 100%;
	padding: 0 30px 30px 30px;
}

.actual-content {
	padding-top: 10px;
}

body {
	margin-bottom: 30px;
}

header {
	text-align: center !important;
}

.navbar-brand>img {
	display: inline-block;
	vertical-align: top;
	margin-right: 4px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 25px;
	background: gray;
	width: 100%;
	text-align: center;
	padding-top: 5px;
	font-size: 80%;
	opacity: 0.8;
	color: white;
}


#map {
	height: 600px;
	width: 100%;
}

[ng-cloak] {
  display: none !important;
}

/* TEAMS */
#teamliste table {
	width: 100%;
	border: 1px solid gray;
}

#teamliste table td {
	padding-left: 10px;
	padding-right: 10px;
	width: 50%;
}

#teamliste .team {
	margin-bottom: 15px !important;
}

/* STATIONS */
#stationlist table {
	width: 100%;
	border: 1px solid gray;
}

#stationlist table td {
	padding-left: 10px;
	padding-right: 10px;
	width: 50%;
}

#stationlist .team {
	margin-bottom: 15px !important;
}
