<div ng-controller="configCtrl">
    <div class="input-group">
        <span class="input-group-addon">Suche:</span>
        <input type="text" ng-model="search" class="form-control input-sm">
    </div>
    <table class="table table-striped">
        <tr ng-repeat="(key,conf) in config">
                <td><span class="input-group-addon">{{ key }}</span></td>
                <td><input type="text" class="form-control input-sm" ng-model="conf" id="{{key}}"/></td>
                <td><button ng-click="saveConfig(key,conf)" class="btn btn-default">Speichern</button></td>

        </tr>
    </table>
</div>
