<div ng-controller="configCtrl">
    <table class="table table-striped">
        <tr ng-repeat="(key,conf) in config">
            <td>
                <div class="input-group">
                    <span class="input-group-addon">{{ key }}</span>
                    <input type="text" class="form-control" ng-model="conf" id="{{key}}"/>
                </div>
            </td>
            <td><button ng-click="saveConfig(key,conf)" class="btn btn-default">&#128190;</button></td>
        </tr>
    </table>
</div>
