<div id="loglist" ng-controller="logCtrl">
    <div>
        <button ng-click="logService.update()" class="btn btn-default">Aktualisieren</button>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">Suche:</span>
        <input type="text" ng-model="search" class="form-control">
    </div>
    <br>
    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td>Zeit</td>
            <td>Typ</td>
            <td>FK_ID</td>
            <td>Beschreibung</td>
            <td>Foto</td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="log in logs | filter:search">
            <td>{{ log.l_ID }}</td>
            <td>{{ parseDate(log.timestamp) | moment:'HH:mm:ss' }}</td>
            <td>{{ log.type }}</td>
            <td>{{ log.FK_ID }}</td>
            <td>{{ log.text }}</td>
            <td><a href="{{apiService.imageUrl(log.img_ID)}}" target="_blank"><img ng-src="{{apiService.imageUrl(log.img_ID)}}" height="50" ng-if="log.img_ID" /></a></td>
            <!-- TODO Bildanzeige optimieren -->
            <td><button ng-click="updateLog(log.n_ID, msg)" class="btn btn-default">&#128190;</button></td>
            <td><button ng-click="deleteLog(log.n_ID)" class="btn btn-default" ng-confirm-click="ACHTUNG: Willst Du diese Nachricht wirklich löschen?">&#9003;</button></td>
        </tr>
    </table>
</div>