<div id="riddlelist" ng-controller="riddleCtrl">
    <div>
        <button ng-click="riddleService.update()" class="btn btn-default">Aktualisieren</button>
        <a href="{{apiURL + '/riddle/export?hash=' + hash}}" class="btn btn-default" target="_blank">CSV exportieren</a>

        <button ng-click="showImporter = !showImporter" class="btn btn-default">CSV importieren</button>

        <div ng-if="showImporter">
            <br>
            <div class="well">
                <form action="{{importUrl}}" target="_blank" method="post" enctype="multipart/form-data">
                    <h4>Rätsel als CSV importieren</h4>
                    <input type="file" accept=".csv" name="riddles">
                    <br>
                    <button type="submit" class="btn btn-danger">Importieren und bestehende Stationen überschreiben</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">Suche:</span>
        <input type="text" ng-model="search" class="form-control">
    </div>
    <br>
    <table class="table table-striped">
        <tr>
            <td>ID</td>
            <td class="col-xs-1">Lat</td>
            <td class="col-xs-1">Lng</td>
            <td class="col-xs-1">Titel</td>
            <td>Frage</td>
            <td class="col-xs-1">Abhängig von</td>
            <td>Antwort</td>
            <td>Optionen</td>
            <td>Typ</td>
            <td>Antwort?</td>
            <td>Bild?</td>
            <td class="col-xs-1">Punkte</td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="riddle in riddles | filter:search">
            <td>{{ riddle.r_ID }}</td>
            <td class="col-xs-1"><input type="text" class="form-control input-sm" ng-model="riddle.pos_lat"/></td>
            <td class="col-xs-1"><input type="text" class="form-control input-sm" ng-model="riddle.pos_long"/></td>
            <td class="col-xs-1"><input type="text" class="form-control input-sm" ng-model="riddle.title"/></td>
            <td><textarea class="form-control input-sm" ng-model="riddle.question" rows="1"></textarea></td>
            <td class="col-xs-1"><riddle-picker selected="riddle.dep_ID" ng-if="riddle.type == 'MULTI'"></riddle-picker></td>
            <td>
                <div ng-if="riddle.answer_required">
                    <div ng-if="!riddle.answer_options_enabled">
                        <input type="text" class="form-control input-sm" ng-model="riddle.answer"/>
                    </div>
                    <div ng-if="riddle.answer_options_enabled">
                        <riddle-options answer="riddle.answer" options="riddle.answer_options"></riddle-options>
                    </div>
                </div>
            </td>
            <td>
                <div ng-if="riddle.answer_required">
                    <label><input type="checkbox" ng-model="riddle.answer_options_enabled" ng-true-value="1" ng-false-value="0"> &colone;</label>
                </div>
            </td>
            <td><select class="form-control input-sm" ng-model="riddle.type">
                    <option>MULTI</option>
                    <option>SINGLE</option>
                </select>
            </td>
            <td><input type="checkbox" ng-model="riddle.answer_required" ng-true-value="1" ng-false-value="0"/></td>
            <td><input type="checkbox" ng-model="riddle.image_required" ng-true-value="1" ng-false-value="0"/></td>
            <td class="col-xs-1"><input type="number" class="form-control input-sm" ng-model="riddle.points"/></td>
            <td><button ng-click="updateRiddle(riddle.r_ID, riddle)" class="btn btn-default">&#128190;</button></td>
            <td><button ng-click="deleteRiddle(riddle.r_ID)" class="btn btn-default" ng-confirm-click="ACHTUNG: Willst du das Rätsel wirklich löschen?">&#9003;</button></td>
        </tr>
        <tr >
            <td>NEU</td>
            <td class="col-xs-1"><input type="text" ng-model="newRiddle.pos_lat" class="form-control input-sm"/></td>
            <td class="col-xs-1"><input type="text" ng-model="newRiddle.pos_long" class="form-control input-sm"/></td>
            <td class="col-xs-1"><input type="text" ng-model="newRiddle.title" class="form-control input-sm"/></td>
            <td><textarea class="form-control input-sm" ng-model="newRiddle.question" rows="1"></textarea></td>
            <td class="col-xs-1"><riddle-picker selected="newRiddle.dep_ID" ng-if="newRiddle.type == 'MULTI'"></riddle-picker></td>
            <td>
                <div ng-if="newRiddle.answer_required">
                    <div ng-if="!newRiddle.answer_options_enabled">
                        <input type="text" class="form-control input-sm" ng-model="newRiddle.answer"/>
                    </div>
                    <div ng-if="newRiddle.answer_options_enabled">
                        <riddle-options answer="newRiddle.answer" options="newRiddle.answer_options"></riddle-options>
                    </div>
                </div>
            </td>
            <td>
                <div ng-if="newRiddle.answer_required">
                    <label><input type="checkbox" ng-model="newRiddle.answer_options_enabled" ng-true-value="1" ng-false-value="0"> &colone;</label>
                </div>
            </td>
            <td><select ng-model="newRiddle.type" class="form-control input-sm">
                    <option selected>MULTI</option>
                    <option>SINGLE</option>
                </select>
            </td>
            <td><input type="checkbox" ng-model="newRiddle.answer_required" ng-true-value="1" ng-false-value="0"/></td>
            <td><input type="checkbox" ng-model="newRiddle.image_required" ng-true-value="1" ng-false-value="0"/></td>
            <td class="col-xs-1"><input type="number" ng-model="newRiddle.points" class="form-control input-sm"/></td>
            <td colspan="2"><button ng-click="addNewRiddle(newRiddle)" class="btn btn-default" ng-disabled="!newRiddle.question">&#128190; Erstellen</button></td>
        </tr>
    </table>

    <h4>Hinweise</h4>
    <ul class="text-muted">
        <li>Der Titel ist immer sichtbar in der Liste im Rätsel Tab oder wenn man es auf der Karte anwählt</li>
        <li>Die Frage ist erst sichtbar nachdem das Rätsel vor Ort freigeschaltet wurde</li>
        <li>"Antwort?" = Es muss eine korrekte Antwort gegeben werden um das Rätsel zu lösen. Keine komplizierten Antworten verwenden oder solche die Interpretationsfreiraum lassen (falsche Antworten geben Abzug!)</li>
        <li>"Bild?" = Es muss ein Bild hochgeladen werden um das Rätsel zu lösen</li>
        <li>Entweder "Antwort?" oder "Bild?" muss ausgewählt sein damit das Rätsel funktioniert.</li>
        <li>Typ "SINGLE" = Einzelnes, unabhängiges Rätsel</li>
        <li>Typ "MULTI" = Rätsel einer Rätselserie. Ein Rätsel einer Serie wird erst auf der Karte sichtbar, wenn das "Abhängig von" Rätsel gelöst wurde.<br>
            Das erste Rätsel einer Serie sollte deshalb kein abhängiges Rätsel haben.</li>
    </ul>

</div>