<div ng-controller="teamCtrl">
    <div>
        <button ng-click="teamService.update()" class="btn btn-default">Aktualisieren</button>
        <a type="button" href="./passcodes.html" target="_blank" class="btn btn-default button">Öffne neues Fenster um Checkin Karten zu drucken</a>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">Suche:</span>
        <input type="text" ng-model="search" class="form-control">
    </div>
    <br>
    <table id="teamliste" class="table table-striped">
        <tr>
            <td>ID</td>
            <td>&nbsp;</td>
            <td>Name</td>
            <td>Score</td>
            <td>Hash</td>
            <td></td>
            <td></td>
            <td>Punkte verteilen</td>
        </tr>
        <tr ng-repeat="group in groups | filter:search">
            <td>{{ group.t_ID }}</td>
            <td><img ng-src="{{apiService.imageUrl(group.img_ID)}}" ng-if="group.img_ID" class="profile-image"></td>
            <td><input type="text" class="form-control input-sm" ng-model="group.name"/></td>
            <td>{{ group.score }}</td>
            <td>{{ group.hash }}</td>
            <td><button ng-click="updateTeam(group, group.t_ID)" class="btn btn-default input-sm">&#128190;</button></td>
            <td><button ng-click="deleteTeam(group.t_ID)" class="btn btn-default input-sm" disabled title="Teams können zur Sicherheit nicht via Admin GUI gelöscht werden">&#9003;</button></td>
            <td><button ng-click="pointModal(group.t_ID, group.name)" class="btn btn-default input-sm"><span class="glyphicon glyphicon-ice-lolly" aria-hidden="true"></span></button></td>
        </tr>
        <tr>
            <td>NEU</td>
            <td></td>
            <td><input type="text" class="form-control input-sm" ng-model="newTeam.name"/></td>
            <td></td>
            <td><input type="text" class="form-control input-sm" ng-model="newTeam.hash" placeholder="Leer lassen um automatisch zu generieren"/></td>
            <td colspan="3">
                <button ng-click="addNewTeam(newTeam)" class="btn btn-default input-sm" ng-disabled="!newTeam.name">&#128190; Erstellen</button>
            </td>
        </tr>
    </table>
</div>
