# IDE Stuff
.idea
# NPM
npm-debug.log
# API
api/vendor
api/conf.php
api/uploaded_images/*
!api/uploaded_images/.gitkeep
# Composer
composer.phar
.composer/
# PHP
error_log
/docs/administration/*
/backend/img/font/*
/backend/img/font/PNG/*
!/backend/img/font/icomoon_46_icons/PNG/hipster2.png