# IDE Stuff
.idea
# NPM
npm-debug.log
# API
api/vendor
api/conf.php
api/uploaded_images/*
!api/uploaded_images/.gitkeep
api/statistics
# Composer
composer.phar
.composer/
# PHP
error_log
/docs/administration/*
backend/js/local_config.js
backend/img/font/*.zip
backend/img/font/icomoon_46_icons/*.html
backend/img/font/icomoon_46_icons/*.css
backend/img/font/icomoon_46_icons/*.js
backend/img/font/icomoon_46_icons/*.txt
backend/img/font/icomoon_46_icons/*.json
backend/img/font/icomoon_46_icons/*.svg
backend/img/font/icomoon_46_icons/demo-files/*
backend/img/font/icomoon_46_icons/PNG/*
backend/img/font/icomoon_46_icons/SVG/*
!backend/img/font/icomoon_46_icons/PNG/hipster2.png
!backend/img/font/icomoon_46_icons/PNG/question.png
monitoring/data
monitoring/config/prometheus.yml
/app/my-release-key.keystore
~$foblatt_teilnehmer_checkin_v01.docx
~WRL0003.tmp
~*
setup/ansible/inventory\.yml
