# IDE Stuff
.idea
# NPM
npm-debug.log
node_modules
# API
api/vendor
api/conf.php
api/uploaded_images/*
!api/uploaded_images/.gitkeep
# Composer
composer.phar
.composer/
# PHP
error_log
/docs/administration/info_event.txt
/docs/administration/info_event_v01.docx
/docs/administration/info_event_v01.pdf