<div class="image-uploader">
  <!-- Native Image upload -->
  <div *ngIf="isCordova">
    <div class="uploaded-image-holder">
      <img class="uploaded-image" id="uploaded-image" [attr.data-orientation]="imageOrientation" [hidden]="!image"/>
      <div class="uploaded-image-placeholder" *ngIf="!image" (click)="takePictureNative()">
        <ion-icon name="camera"></ion-icon>
      </div>
      <button *ngIf="!image" ion-button full color="secondary" (click)="takePictureNative()">Foto aufnehmen</button>
    </div>
  </div>

  <!-- HTML5 Image upload -->
  <div *ngIf="!isCordova">
    <input type="file"
         accept="image/*"
         imageUpload
         (change)="imageChanged($event)"
         (imageSelected)="imageSelected($event)"
         [resizeOptions]="resizeOptions"
         #imgupload
    />
    <br>
    <div class="uploaded-image-holder">
      <img class="uploaded-image" id="uploaded-image" [attr.data-orientation]="imageOrientation" [hidden]="!imageRaw"/>
      <div class="uploaded-image-placeholder" *ngIf="!imageRaw" (click)="imgupload.click()">
        <ion-icon name="camera"></ion-icon>
      </div>
      <button *ngIf="!imageRaw" ion-button full color="secondary" (click)="imgupload.click()">Foto aufnehmen</button>
    </div>
  </div>


</div>
