<!DOCTYPE HTML>

<html ng-app="backendApp">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard PIO-X</title>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body class="dashboard">
	<div ng-controller="mainCtrl" ng-cloak>

		<!-- Login -->
		<div class="content" ng-if="loggedIn == false && showLogin == true">
			<br><br>
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i> Backend Hash:</span>
				<input class="form-control" type="text" ng-model="hash" ng-keyup="$event.keyCode == 13 && login(hash)"/>
			</div>
			<br>
			<button ng-click="login(hash)" class="btn btn-default">Login</button>
		</div>

		<!-- the actual dashboard -->
		<div ng-if="loggedIn">
			<ng-include src="'js/templates/dashboard/dashboard.html'"></ng-include>
		</div>

	</div>

	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="node_modules/angular-touch/angular-touch.min.js"></script>
	<script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="node_modules/highcharts/highcharts.src.js"></script>
	<script src="node_modules/highcharts-ng/dist/highcharts-ng.min.js"></script>
	<script src="node_modules/ngmap/build/scripts/ng-map.min.js"></script>
	<script src="node_modules/moment/moment.js"></script>
	<script src="node_modules/moment/locale/de.js"></script>
	<script src="node_modules/angular-moment/angular-moment.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/mainCtrl.js"></script>
	<script src="js/controllers/dashboardCtrl.js"></script>
	<script src="js/controllers/diashowCtrl.js"></script>
	<script src="js/controllers/configCtrl.js"></script>
	<script src="js/controllers/logCtrl.js"></script>
	<script src="js/controllers/mapCtrl.js"></script>
	<script src="js/controllers/notificationCtrl.js"></script>
	<script src="js/controllers/passcodeCtrl.js"></script>
	<script src="js/controllers/passcodePrintCtrl.js"></script>
	<script src="js/controllers/QRCtrl.js"></script>
	<script src="js/controllers/riddleCtrl.js"></script>
	<script src="js/controllers/solvedRiddleCtrl.js"></script>
	<script src="js/controllers/stationCtrl.js"></script>
	<script src="js/controllers/statsCtrl.js"></script>
	<script src="js/controllers/teamCtrl.js"></script>
	<script src="js/controllers/teamPointModalCtrl.js"></script>
	<script src="js/services/apiService.js"></script>
	<script src="js/services/configService.js"></script>
	<script src="js/services/logService.js"></script>
	<script src="js/services/mrxService.js"></script>
	<script src="js/services/riddleService.js"></script>
	<script src="js/services/solvedRiddleService.js"></script>
	<script src="js/services/stationService.js"></script>
	<script src="js/services/teamService.js"></script>
	<script src="js/vendor/qrcode.js"></script>
	<script src="js/vendor/angular-qrcode.js"></script>
	<script src="js/directives/ngConfirmClick.js"></script>
	<script src="js/directives/mapInfo.js"></script>
	<script src="js/directives/riddleOptions.js"></script>
	<script src="js/directives/riddlePicker.js"></script>
	<script src="js/directives/teamPicker.js"></script>
</body>

</html>
