<!DOCTYPE HTML>

<html ng-app="backendApp">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>PIO-X Backend</title>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div ng-controller="mainCtrl" ng-cloak>

		<header>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="img/logo.png" height="16">
							Pio-X Admin
						</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a ng-click="logout()" ng-if="loggedIn" href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<!-- Login -->
		<div class="content" ng-if="loggedIn == false && showLogin == true">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i> Backend Hash:</span>
				<input class="form-control" type="text" ng-model="hash" ng-keyup="$event.keyCode == 13 && login(hash)"/>
			</div>
			<button ng-click="login(hash)" class="btn btn-default">Login</button>
		</div>

		<!-- Tabs -->
		<div class="content" ng-if="loggedIn == true">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#karte" aria-controls="karte" role="tab" data-toggle="tab">Karte</a></li>
				<li role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Teams</a></li>
				<li role="presentation"><a href="#stationen" aria-controls="stationen" role="tab" data-toggle="tab">Stationen</a></li>
				<li role="presentation"><a href="#stream" aria-controls="stream" role="tab" data-toggle="tab">Stream</a></li>
				<li role="presentation"><a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab">Notifications</a></li>
				<li role="presentation"><a href="#passcodes" aria-controls="passcodes" role="tab" data-toggle="tab">Passcodes</a></li>
				<li role="presentation"><a href="#raetsel" aria-controls="raetsel" role="tab" data-toggle="tab">Rätsel</a></li>
				<li role="presentation"><a href="#qrcodes" aria-controls="qrcodes" role="tab" data-toggle="tab">QR codes</a></li>
				<li role="presentation"><a href="#config" aria-controls="config" role="tab" data-toggle="tab">Config</a></li>
				<li role="presentation"><a href="#stats" aria-controls="stats" role="tab" data-toggle="tab">Stats</a></li>
			</ul>
			<div class="tab-content actual-content">
				<!-- MAP -->
				<div role="tabpanel" class="tab-pane active" id="karte">
					<ng-include src="'js/templates/pages/map.html'"></ng-include>
				</div>
				<!-- TEAMS -->
				<div role="tabpanel" class="tab-pane" id="teams">
					<ng-include src="'js/templates/pages/teams.html'"></ng-include>
				</div>
				<!-- STATIONS -->
				<div role="tabpanel" class="tab-pane" id="stationen">
					<ng-include src="'js/templates/pages/stations.html'"></ng-include>
				</div>
				<!-- LOG / IMAGES / STREAM -->
				<div role="tabpanel" class="tab-pane" id="stream">
					<ng-include src="'js/templates/pages/log.html'"></ng-include>
				</div>
				<!-- NOTIFICATIONS -->
				<div role="tabpanel" class="tab-pane" id="notifications">
					<ng-include src="'js/templates/pages/notifications.html'"></ng-include>
				</div>
				<!-- PASSCODES -->
				<div role="tabpanel" class="tab-pane" id="passcodes">
					<ng-include src="'js/templates/pages/passcodes.html'"></ng-include>
				</div>
				<!-- RIDDLES -->
				<div role="tabpanel" class="tab-pane" id="raetsel">
					<ng-include src="'js/templates/pages/riddles.html'"></ng-include>
				</div>
				<!-- QR CODES -->
				<div role="tabpanel" class="tab-pane" id="qrcodes">
					<ng-include src="'js/templates/pages/qrcodes.html'"></ng-include>
				</div>
				<!-- CONFIG -->
				<div role="tabpanel" class="tab-pane" id="config">
					<ng-include src="'js/templates/pages/config.html'"></ng-include>
				</div>
				<!-- STATS -->
				<div role="tabpanel" class="tab-pane" id="stats">
					<ng-include src="'js/templates/pages/stats.html'"></ng-include>
				</div>
			</div>
		</div>

		<footer>
			<p>Mit Herzblut programmiert von Fäger, Giga, Folletta, Chäfer und Punkt</p>
		</footer>

	</div>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="node_modules/angular-touch/angular-touch.min.js"></script>
	<script src="node_modules/highcharts/highcharts.src.js"></script>
	<script src="node_modules/highcharts-ng/dist/highcharts-ng.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/statsCtrl.js"></script>
	<script src="js/controllers/configCtrl.js"></script>
	<script src="js/controllers/logCtrl.js"></script>
	<script src="js/controllers/mainCtrl.js"></script>
	<script src="js/controllers/mapCtrl.js"></script>
	<script src="js/controllers/notificationCtrl.js"></script>
	<script src="js/controllers/passcodeCtrl.js"></script>
	<script src="js/controllers/QRCtrl.js"></script>
	<script src="js/controllers/riddleCtrl.js"></script>
	<script src="js/controllers/stationCtrl.js"></script>
	<script src="js/controllers/statsCtrl.js"></script>
	<script src="js/controllers/teamCtrl.js"></script>
	<script src="js/services/apiService.js"></script>
	<script src="js/services/riddleService.js"></script>
	<script src="js/services/stationService.js"></script>
	<script src="js/services/teamService.js"></script>
	<script src="js/vendor/qrcode.js"></script>
	<script src="js/vendor/angular-qrcode.js"></script>
	<script src="js/vendor/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="js/directives/ngConfirmClick.js"></script>
	<script src="js/directives/mapInfo.js"></script>
	<script src="js/directives/riddlePicker.js"></script>
	<script src="js/directives/teamPicker.js"></script>
	<script src="node_modules/ngmap/build/scripts/ng-map.min.js"></script>
	<script src="js/vendor/moment-with-locales.js"></script>
</body>

</html>
