<!DOCTYPE HTML>

<html ng-app="backendApp">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PIO-X Backend</title>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
</head>

<body>
	<div ng-controller="mainCtrl" ng-cloak>

		<header>
			<nav class="navbar navbar-default navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
							<img src="img/logo.png" height="16">
							Pio-X Admin
						</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right" ng-if="loggedIn">
							<li><a href="dashboard.html" target="_blank">Dashboard</a></li>
							<li><a href="diashow.html" target="_blank">Diashow</a></li>
							<li><a href="anleitung.html" target="_blank">Anleitung</a></li>
							<li><a ng-click="logout()" href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<!-- Login -->
		<div class="content" ng-if="loggedIn == false && showLogin == true">
			<div ng-if="showLoginError" class="alert alert-danger">
				Login fehlgeschlagen!
			</div>
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i> Backend Hash:</span>
				<input class="form-control" type="text" ng-model="hash" ng-keyup="$event.keyCode == 13 && login(hash,api,frontend)"/>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i> API:</span>
				<input class="form-control" type="text" ng-model="api" ng-keyup="$event.keyCode == 13 && login(hash,api,frontend)"/>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i> App URL:</span>
				<input class="form-control" type="text" ng-model="frontend" ng-keyup="$event.keyCode == 13 && login(hash,api,frontend)"/>
			</div>
			<br>
			<button ng-click="login(hash,api,frontend)" class="btn btn-default">Login</button>
		</div>

		<!-- Tabs -->
		<div class="content" ng-if="loggedIn == true">
			<ul class="nav nav-tabs">
				<li role="presentation" ng-class="{active: selectedTab == 'map'}"><a ng-click="selectedTab = 'map'">Karte</a></li>
				<li role="presentation" ng-class="{active: selectedTab == 'teams'}"><a ng-click="selectedTab = 'teams'">Teams</a></li>
				<li role="presentation" ng-class="{active: selectedTab == 'stations'}"><a ng-click="selectedTab = 'stations'">Stationen</a></li>
				<li role="presentation" ng-class="{active: selectedTab == 'log'}"><a ng-click="selectedTab = 'log'">Stream</a></li>
				<li role="presentation" ng-class="{active: selectedTab == 'notifications'}"><a ng-click="selectedTab = 'notifications'">Notifications</a></li>
				<li role="presentation" ng-class="{active: selectedTab == 'passcodes'}"><a ng-click="selectedTab = 'passcodes'">Passcodes</a></li>
				<li role="presentation" ng-class="{active: selectedTab == 'riddles'}"><a ng-click="selectedTab = 'riddles'">Rätsel</a></li>
				<li role="presentation" ng-class="{active: selectedTab == 'solvedriddles'}"><a ng-click="selectedTab = 'solvedriddles'">Gelöste Rätsel</a></li>
				<li role="presentation" ng-class="{active: selectedTab == 'qrcodes'}"><a ng-click="selectedTab = 'qrcodes'">QR Codes</a></li>
				<li role="presentation" ng-class="{active: selectedTab == 'config'}"><a ng-click="selectedTab = 'config'">Config</a></li>
				<li role="presentation" ng-class="{active: selectedTab == 'stats'}"><a ng-click="selectedTab = 'stats'">Stats</a></li>
			</ul>
			<div class="actual-content">
				<!-- MAP -->
				<div ng-if="selectedTab == 'map'">
					<ng-include src="'js/templates/pages/map.html'"></ng-include>
				</div>
				<!-- TEAMS -->
				<div ng-if="selectedTab == 'teams'">
					<ng-include src="'js/templates/pages/teams.html'"></ng-include>
				</div>
				<!-- STATIONS -->
				<div ng-if="selectedTab == 'stations'">
					<ng-include src="'js/templates/pages/stations.html'"></ng-include>
				</div>
				<!-- LOG / IMAGES / STREAM -->
				<div ng-if="selectedTab == 'log'">
					<ng-include src="'js/templates/pages/log.html'"></ng-include>
				</div>
				<!-- NOTIFICATIONS -->
				<div ng-if="selectedTab == 'notifications'">
					<ng-include src="'js/templates/pages/notifications.html'"></ng-include>
				</div>
				<!-- PASSCODES -->
				<div ng-if="selectedTab == 'passcodes'">
					<ng-include src="'js/templates/pages/passcodes.html'"></ng-include>
				</div>
				<!-- RIDDLES -->
				<div ng-if="selectedTab == 'riddles'">
					<ng-include src="'js/templates/pages/riddles.html'"></ng-include>
				</div>
				<!-- RIDDLES -->
				<div ng-if="selectedTab == 'solvedriddles'">
					<ng-include src="'js/templates/pages/solvedriddles.html'"></ng-include>
				</div>
				<!-- QR CODES -->
				<div ng-if="selectedTab == 'qrcodes'">
					<ng-include src="'js/templates/pages/qrcodes.html'"></ng-include>
				</div>
				<!-- CONFIG -->
				<div ng-if="selectedTab == 'config'">
					<ng-include src="'js/templates/pages/config.html'"></ng-include>
				</div>
				<!-- STATS -->
				<div ng-if="selectedTab == 'stats'">
					<ng-include src="'js/templates/pages/stats.html'"></ng-include>
				</div>
			</div>
		</div>

		<footer class="footer">
		  <div class="container">
			<p class="text-muted"><br>Mit Herzblut programmiert von Fäger, Giga, Folletta, Chäfer und Punkt</p>
		  </div>
		</footer>

	</div>

	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="node_modules/angular-touch/angular-touch.min.js"></script>
	<script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="node_modules/highcharts/highcharts.src.js"></script>
	<script src="node_modules/highcharts-ng/dist/highcharts-ng.min.js"></script>
	<script src="node_modules/ngmap/build/scripts/ng-map.min.js"></script>
	<script src="node_modules/moment/moment.js"></script>
	<script src="node_modules/moment/locale/de.js"></script>
	<script src="node_modules/angular-moment/angular-moment.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
	<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/mainCtrl.js"></script>
	<script src="js/controllers/dashboardCtrl.js"></script>
	<script src="js/controllers/diashowCtrl.js"></script>
	<script src="js/controllers/configCtrl.js"></script>
	<script src="js/controllers/logCtrl.js"></script>
	<script src="js/controllers/mapCtrl.js"></script>
	<script src="js/controllers/notificationCtrl.js"></script>
	<script src="js/controllers/passcodeCtrl.js"></script>
	<script src="js/controllers/passcodePrintCtrl.js"></script>
	<script src="js/controllers/QRCtrl.js"></script>
	<script src="js/controllers/riddleCtrl.js"></script>
	<script src="js/controllers/solvedRiddleCtrl.js"></script>
	<script src="js/controllers/stationCtrl.js"></script>
	<script src="js/controllers/statsCtrl.js"></script>
	<script src="js/controllers/teamCtrl.js"></script>
	<script src="js/controllers/teamPointModalCtrl.js"></script>
	<script src="js/services/apiService.js"></script>
	<script src="js/services/configService.js"></script>
	<script src="js/services/logService.js"></script>
	<script src="js/services/mrxService.js"></script>
	<script src="js/services/riddleService.js"></script>
	<script src="js/services/solvedRiddleService.js"></script>
	<script src="js/services/stationService.js"></script>
	<script src="js/services/teamService.js"></script>
	<script src="js/vendor/qrcode.js"></script>
	<script src="js/vendor/angular-qrcode.js"></script>
	<script src="js/directives/ngConfirmClick.js"></script>
	<script src="js/directives/mapInfo.js"></script>
	<script src="js/directives/riddlePicker.js"></script>
	<script src="js/directives/teamPicker.js"></script>
</body>

</html>
