<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let log of logs">
    <ion-item *ngIf="log.type != 'MRX'">
      <ion-avatar item-left *ngIf="teams[log.t_ID].img_ID">
        <img [src]="teamService.imageUrl(teams[log.t_ID].img_ID)">
      </ion-avatar>
      <h2>{{teams[log.t_ID].name}}</h2>
    </ion-item>
    <ion-item *ngIf="log.type == 'MRX'">
      <ion-avatar item-left>
        <img src="assets/mrx.png">
      </ion-avatar>
      <h2>{{mrxs[log.t_ID].name}}</h2>
    </ion-item>
    <img *ngIf="log.img_ID" [src]="teamService.imageUrl(log.img_ID)">
    <ion-card-content>
      <p>
        {{log.text}}
      </p>
      <ion-note>
        {{log.timestamp | date:'HH:mm'}}
      </ion-note>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!logs.length">
    <ion-card-content>
      Beiträge werden geladen ...
    </ion-card-content>
  </ion-card>
</ion-content>
