
<ion-header>
  <ion-navbar>
    <ion-title>
      Nachrichten
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="currentSegment" color="primary">
      <ion-segment-button value="notifications">
        Nachrichten
      </ion-segment-button>
      <ion-segment-button value="stream">
        Foto Stream
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <page-notifications-tab *ngIf="currentSegment == 'notifications'"></page-notifications-tab>
  <page-game_stream *ngIf="currentSegment == 'stream'"></page-game_stream>
</ion-content>
