<div>
  <div *ngIf="barcodeError" color="danger">
    QR-CODE FEHLER: {{barcodeError | json}}
  </div>

  <div *ngIf="!loginHash">
    <h3>QR Code scannen</h3>
    <button ion-button full color="secondary" (click)="scan()">Scan</button>
  </div>

  <div *ngIf="loginTeam">
    <ion-item>
      <ion-input type="text" [(ngModel)]="loginPlayer" placeholder="Dein Pfadiname"></ion-input>
    </ion-item>
    <p>
      <button ion-button full color="secondary" (click)="login()" [disabled]="!loginPlayer">Los geht's!</button>
    </p>
  </div>

</div>
