<div>
  <div *ngIf="barcodeError" ion-text color="danger">
    QR-CODE FEHLER: {{barcodeError | json}}
  </div>

  <div *ngIf="!loginHash">
    <ion-card-title>QR Code scannen</ion-card-title>
    <button ion-button full color="secondary" (click)="scan()">Scan QR Code</button>
  </div>

  <div *ngIf="loginTeam">
    <ion-card-title>Dein Pfadiname</ion-card-title>
    <ion-item>
      <ion-input type="text" [(ngModel)]="loginPlayer" placeholder="Dein Pfadiname"></ion-input>
    </ion-item>
    <br>
    <p>
      <button ion-button full color="secondary" (click)="login()" [disabled]="!loginPlayer">Los geht's!</button>
    </p>
  </div>

</div>
