				<div>
					<div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAjEW54VdlWZT07n90oTjvaLIl3q27ZL4Y" class="col-md-9" ng-controller="mapEventCtrl as mec">
						<ng-map center="47.498934,8.728970" zoom="14" style="height: 600px" on-click="mec.createNew($event)">
                            <map-info />
							<marker position="[{{ station.pos_lat }},{{ station.pos_long }}]" on-click="showTooltip($index, stations)" ng-repeat="station in stations track by $index" icon="{
								path: 0,
								strokeColor: '#000',
								strokeWeight: 3,
								scale: 8 }" ng-if="showStations">
							</marker>
							<marker position="[{{ riddle.pos_lat }},{{ riddle.pos_long }}]" on-click="showTooltip($index, riddles)" ng-repeat="riddle in riddles track by $index" icon="{
								path: 0,
								strokeColor: '#00f',
								strokeWeight: 3,
								scale: 8 }" ng-if="showRiddles">
							</marker>
							<marker position="[{{ mrx.locations[1].xpos_lat }},{{ mrx.locations[1].xpos_long }}]" on-click="showTooltip($index, mrxs)" ng-repeat="mrx in mrxs track by $index" icon="{
								path: 0,
								strokeColor: '#0f0',
								strokeWeight: 3,
								scale: 8 }" ng-if="showMrxs">
							</marker>
							<span ng-repeat="locations in players">
								<marker position="[{{ location.lat }},{{ location.lng }}]" on-click="showTooltip($index, locations)" ng-repeat="location in locations track by $index" icon="{
									path: 0,
									strokeColor: '#f00',
									strokeWeight: 3,
									scale: 8 }" ng-if="showTeamLocation">
								</marker>
							</span>
							<marker position="{{latlng}}" title="Neues Objekt" on-dragend="mec.createNew($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
							</ng-map>
						</ng-map>
					</div>
					<div class="col-md-3">
						<button ng-click="refreshData()" class="btn btn-default">Alle Daten aktualisieren</button><br />
						<input type="checkbox" ng-model="showStations" checked /> Stationen anzeigen<br />
						<input type="checkbox" ng-model="showRiddles" checked /> Rätsel anzeigen<br />
						<input type="checkbox" ng-model="showMrxs" checked /> Alle Mr. X anzeigen<br />
						<input type="checkbox" ng-model="showTeamLocation" /> Team anzeigen<br />
						<span ng-repeat="group in groups" ng-if="showTeamLocation">
							&nbsp;&nbsp;<input type="radio" name="teamRadioSelect" ng-checked="$index==0?true:false" ng-click="getTeamLocations(group.t_ID)"/> Team {{ group.t_ID }} anzeigen<br />
						</span>
					</div>
				</div>
                