<ion-header>
  <ion-navbar>
    <ion-title>
      "{{station.name}}" einnehmen
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Foto hochladen</h3>
  <input type="file"
         accept="image/*"
         image-upload
         (change)="imageChanged($event)"
         (imageSelected)="imageSelected($event)"
         [resizeOptions]="resizeOptions"
         #imgupload
  >
  <br>
  <div class="uploaded-image-holder" (click)="imgupload.click()">
    <img class="uploaded-image" id="uploaded-image" [attr.data-orientation]="imageOrientation" [hidden]="!imageData"/>
    <div class="uploaded-image-placeholder" *ngIf="!imageData">
      <ion-icon name="camera"></ion-icon>
    </div>
  </div>
  <br>
  <br>
  <p>
    <button *ngIf="distance() <= configService.getConfig().station_radius" ion-button full color="secondary" (click)="captureStation()" [disabled]="!imageData">Einnehmen</button>
    <button *ngIf="distance() > configService.getConfig().station_radius" ion-button full color="secondary" disabled>Zu weit weg</button>
    <br>
    <button ion-button full color="danger" (click)="dismiss()">Abbrechen</button>
  </p>
  <small>Distanz zur Station: {{distance()}}m</small>
</ion-content>
