<div ng-controller="dashboardCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h3>
                    Pio-X Dashboard
                    <span class="label label-success" ng-if="config.game_is_running > 0">Spiel läuft</span>
                    <span class="label label-danger" ng-if="config.game_is_running == 0">Spiel läuft nicht</span>
                    <button ng-click="refresh()" class="btn btn-default">Aktualisieren</button>
                </h3>
            </div>
        </div>
        <div class="row">
            <!-- Rangliste -->
            <div class="col-xs-12 col-sm-4 dashboard-scroll">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Rangliste</h3>
                    </div>
                    <div>
                        <br>
                        <table id="teamliste" class="table table-striped">
                            <tr ng-repeat="team in teams | orderBy:'-score'">
                                <td width="16">{{ $index + 1}}</td>
                                <td width="30"><img ng-src="{{apiService.imageUrl(team.img_ID)}}" ng-if="team.img_ID" class="profile-image profile-image--small"></td>
                                <td><span class="color-blob" style="background: {{teamService.distinctColor(team.t_ID)}}"></span>{{ team.name }}</td>
                                <td title="Punkte"><span class="label label-primary">{{ team.score }}</span></td>
                                <td title="Rätsel gelöst"><span class="label label-default">{{ team.riddle_count }}</span></td>
                                <td title="Stationen"><span class="label label-warning">{{ team.station_count }}</span></td>
                                <td title="Mr.X gefangen">
                                    <span ng-repeat="n in [].constructor(team.mrx_count) track by $index">
                                        <img src="img/mrx.png" height="18"/>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Infos -->
            <div class="col-xs-12 col-sm-5 dashboard-scroll">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Map</h3>
                    </div>
                    <div style="height: 300px">
                        <div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAjEW54VdlWZT07n90oTjvaLIl3q27ZL4Y">
                            <ng-map center="47.498934,8.728970" zoom="13" style="height: 300px">
                                <!-- MRX -->
                                <span ng-repeat="mrx in mrxs track by $index">
                                    <marker position="[{{ mrx.locations[0].xpos_lat }}, {{ mrx.locations[0].xpos_long }}]"
                                        icon="{
                                            url:'img/mrx.png',
                                            scaledSize:[16,18],
                                            origin: [0,0],
                                            anchor: [8,9]
                                        }"
                                        title="{{mrx.name}} {{mrx.x_ID}}"
                                        ng-if="mrx.locations[0]">
                                    </marker>
                                </span>
                                <!-- MRX -->
                                <span ng-repeat="team in teams track by $index">
                                    <marker position="[{{ team.captures[0].lat }}, {{ team.captures[0].lng }}]"
                                        icon="{
                                            path: 0,
                                            strokeColor: 'black',
                                            fillColor: '{{teamService.distinctColor(team.t_ID)}}',
                                            fillOpacity: 1,
                                            strokeWeight: 1,
                                            strokeOpacity: 0.5,
                                            scale: 5 }"
                                        title="{{team.name}}"
                                        ng-if="team.captures[0]">
                                    </marker>
                                    <shape name="polyline"
                                        ng-repeat="location in team.captures | limitTo: 3"
                                        path="[
                                            [{{ location.lat }}, {{ location.lng }}],
                                            [{{ team.captures[$index + 1].lat }}, {{ team.captures[$index + 1].lng }}]
                                        ]"
                                        geodesic="true"
                                        stroke-color="{{teamService.distinctColor(team.t_ID)}}"
                                        stroke-opacity="0.8"
                                        stroke-weight="2"
                                        ng-if="team.captures[$index + 1]">
                                    </shape>
                                </span>
                            </ng-map>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mister X</h3>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="mrx in mrxs" ng-if="mrx.locations.length">
                            <b>{{mrx.name}} {{mrx.x_ID}}</b> - <i>{{mrx.catch_count}} mal gefangen</i><br>
                            <span class="text-muted"><time am-time-ago="mrx.locations[0].timestamp"></time>:</span>
                            {{mrx.locations[0].description}}
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Statistiken</h3>
                    </div>
                    <div class="panel-body">
                        {{stations_captured}} von {{stations.length}} Stationen eingenommen
                    </div>
                </div>



            </div>

            <!-- Stream -->
            <div class="col-xs-12 col-sm-3 dashboard-scroll">
                <div class="thumbnail" ng-repeat="log in logs | orderBy:'-timestamp' | limitTo:50">
                    <a href="{{apiService.imageUrl(log.img_ID)}}" target="_blank"><img ng-src="{{apiService.imageUrl(log.img_ID)}}" height="50" ng-if="log.img_ID" /></a>
                    <div class="caption">
                        <b><time am-time-ago="log.timestamp"></time></b> <span class="text-muted">{{ log.timestamp | date:'HH:mm:ss' }}</span>
                        <div>{{ log.text }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
