<info-window id="infoWindow">
	<div ng-non-bindable=""><!-- Für jeden Typ ein schönes Window designen -->
		<b ng-if="shown.infotype">{{shown.infotype}}<br /></b>
		<b ng-if="shown.timestamp">{{ key }}: {{shown.timestamp | moment:'HH:mm:ss'}}<br /></b>
		<div ng-if="shown.question">
			<h3>{{shown.title}}</h3>
			<div ng-bind-html="shown.question"></div>
		</div>
		<div ng-if="shown.lat">{{shown.lat}} / {{shown.lng}}<br /></div>
		<div ng-if="shown.mrx_ID">
			<table>
				<tr>
					<td>Name: </td><td>{{ shown.mrx_ID }} ({{ shown.name }})</td>
				</tr>
				<tr>
					<td>Hash: </td><td>{{ shown.hash }}</td>
				</tr>
			</table>
		</div>
		<div ng-if="shown.s_ID">
			<h3>{{ shown.name }} ({{ shown.s_ID }})</h3>
			<div ng-if="shown.description">
				<i>{{ shown.description }}</i>
				<br><br>
			</div>
			<div>
				Punkte: {{ shown.points }}
			</div>
			<div>
				<span ng-if="shown.team">
					Gehört Team {{ shown.team }}
				</span>
				<span ng-if="!shown.team">
					Gehört keinem Team.
				</span>
			</div>
			<br>
			<div>
				<button ng-click="editStation(shown.s_ID)" class="btn btn-default">Bearbeiten</button>
				<button ng-click="deleteStation(shown.s_ID)" class="btn btn-default">Löschen</button>
			</div>
		</div>
	</div>
</info-window>