							<info-window id="infoWindow">
								<div ng-non-bindable=""><!-- Für jeden Typ ein schönes Window designen -->
									<b ng-if="shown.infotype">{{shown.infotype}}<br /></b>
									<b ng-if="shown.question">{{shown.question}}<br /></b>
									<b ng-if="shown.timestamp">{{ key }}: {{shown.timestamp | moment:'HH:mm:ss'}}<br /></b>
									<span ng-if="shown.lat">{{shown.lat}} / {{shown.lng}}<br /></span>
									<span ng-if="shown.mrx_ID">
										<table>
											<tr>
												<td>Name: </td><td>{{ shown.mrx_ID }} ({{ shown.name§ }})</td>
											</tr>
											<tr>
												<td>Hash: </td><td>{{ shown.hash }}</td>
											</tr>
										</table>
									</span>
									<span ng-if="shown.s_ID">
										<table>
											<tr>
												<td>Station:</td><td>{{ shown.name }} ({{ shown.s_ID }})</td>
											</tr>
											<tr>
												<td>Punkte:</td><td>{{ shown.points }}</td>
											</tr>
											<tr>
												<td colspan="2"><button ng-click="editStation(shown.s_ID)" class="btn btn-default">Station editieren</button><br /></td>
											</tr>
										</table>
									</span>
								</div>
							</info-window>