<ion-header>
  <ion-navbar>
    <ion-title>
      Rätsel lösen
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>Rästel {{riddleId}} lösen</h3>
  <p>
    {{riddles[riddleId].question}}
  </p>

  <span *ngIf="!answered">
    <ion-item *ngIf="riddles[riddleId].answer_required">
      <ion-input type="text" [(ngModel)]="answer" placeholder="Antwort"></ion-input>
    </ion-item>
    <div *ngIf="riddles[riddleId].image_required"><i>Um dieses Rätsel zu lösen musst du ein Bild machen.</i></div>
    <div *ngIf="riddles[riddleId].image_required">
      <image-uploader [(tags)]="tags" [(image)]="imageData"></image-uploader>
    </div>
    <br>

    <p>
      <button ion-button
              full
              color="secondary"
              (click)="solveRiddle()"
              [disabled]="(riddles[riddleId].answer_required && !answer) || (riddles[riddleId].image_required && !imageData)"
      >
        Lösen
      </button>
    </p>
    <p>
      <button ion-button full color="danger" (click)="dismiss()">Abbrechen</button>
    </p>
  </span>
  <span *ngIf="answered">
    <div *ngIf="riddles[riddleId].answer_required">
      Deine Antwort: <b>{{answer}}</b>
    </div>
    <div *ngIf="response.solved">
      <div class="riddle-solved">
        <ion-icon name="happy" color="secondary"></ion-icon>
        <div *ngIf="riddles[riddleId].answer_required">
          <h3>Korrekt!</h3>
          Deine Antwort war richtig!
        </div>
        <div *ngIf="riddles[riddleId].image_required">
          <h3>Rätsel gelöst!</h3>
        </div>
      </div>

    </div>
    <div *ngIf="!response.solved">
      <div class="riddle-solved">
        <ion-icon name="sad" color="danger"></ion-icon>
        <h3>Falsch</h3>
        {{response.message}}
      </div>
    </div>
    <br>
    <br>
    <button ion-button full color="danger" (click)="dismiss()">Schliessen</button>
  </span>


</ion-content>
