<div>

  <ion-card-header>
    {{riddle.title}}
    <ion-note>
      <span *ngIf="riddle.state == 'SOLVED'" ion-text color="secondary">
        <ion-icon name="checkmark-circle"></ion-icon> Gelöst
      </span>
      <span *ngIf="riddle.pos_lat && (!riddle.state || riddle.state == 'LOCKED')">
        <ion-icon name="lock"></ion-icon> Gesperrt
      </span>
    </ion-note>
  </ion-card-header>

  <ion-card-content>
    <div *ngIf="riddle.question">
      <div [innerHTML]="riddle.question"></div>
      <button ion-button color="light" full (click)="openSolveModal(riddle.r_ID)" *ngIf="riddle.state != 'SOLVED'">
        <ion-icon name="camera" *ngIf="riddle.image_required"></ion-icon>&nbsp;
        Lösen
      </button>
    </div>
    <div *ngIf="!riddle.question">
      <i>Frage versteckt.</i><br>
      <i>Das Rätsel kann nur vor Ort entsperrt werden.</i>
      <div *ngIf="riddle.pos_lat">
        <ion-icon name="pin"></ion-icon>
        {{locationService.getDistanceToUser(riddle.pos_lat, riddle.pos_long)}}m entfernt
        <button ion-button color="secondary" full
                (click)="unlockRiddle(riddle.r_ID)"
                *ngIf="riddle.state != 'SOLVED' && locationService.getDistanceToUser(riddle.pos_lat, riddle.pos_long) <= configService.getConfig().riddle_radius"
        >
          Freischalten
        </button>
      </div>
    </div>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <ion-note *ngIf="riddle.type == 'MULTI'">
        &nbsp;&nbsp;&nbsp;
        <ion-icon name="fastforward"></ion-icon>
        Rätselserie
      </ion-note>
    </ion-col>
    <ion-col right text-right>
      <ion-note>
        {{riddle.points}} Punkte
      </ion-note>
    </ion-col>
  </ion-row>

</div>
