<ion-header>
  <ion-navbar>
    <ion-title>
      Rangliste
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list no-border>
    <ion-item *ngFor="let team of teams">
			<ion-avatar item-left *ngIf="team.img_ID">
        <img [src]="teamService.imageUrl(team.img_ID)">
      </ion-avatar>
      <ion-icon name='people' item-left *ngIf="!team.img_ID"></ion-icon>
      <span *ngIf="team.t_ID == myteam"><b>{{team.name}}</b></span>
      <span *ngIf="team.t_ID != myteam">{{team.name}}</span>
      <ion-badge item-right>{{team.score}}</ion-badge>
    </ion-item>
  </ion-list>

  <div padding>
    <ion-icon name="person"></ion-icon> Angemeldet als {{myname}} <a (click)="openProfileImageModal()">Teambild ändern</a>
  </div>

</ion-content>
