<ion-header>
  <ion-navbar>
    <ion-title>
      Rangliste
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border>
    <ion-item *ngFor="let team of teams">
      <ion-icon name='people' item-left [ngStyle]='{"color": team.color}'></ion-icon>
      <span *ngIf="team.t_ID == myteam"><b>{{team.name}}</b></span>
      <span *ngIf="team.t_ID != myteam">{{team.name}}</span>
      <ion-badge item-right>{{team.score}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
