<ion-header>
  <ion-navbar>
    <ion-title>
      Map
      <ion-spinner *ngIf="isRefreshing"></ion-spinner>
    </ion-title>
    <ion-buttons end>
      <button *ngIf="!isRefreshing" ion-button icon-only (click)="updateMap()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <!--
      <button ion-button icon-only (click)="zoomToMyLocation()">
        <ion-icon name="locate"></ion-icon>
      </button>
      -->
      <button ion-button icon-only (click)="presentActionSheet()" >
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <sebm-google-map
          #gmap
          [latitude]="default_lat"
          [longitude]="default_lng"
          [zoom]="default_zoom"
          [streetViewControl]="false"
          [mapTypeControl]="true"
          [usePanning]="true"
  >

    <!-- Station Radius
    <sebm-google-map-circle
            *ngFor="let station of stations"
            [latitude]="station.pos_lat"
            [longitude]="station.pos_long"
            [radius]="config.station_radius"
            [fillColor]="getStationColor(station.team)"
            [fillOpacity]="0.1"
            [circleDraggable]="false"
            [editable]="false"
            [clickable]="false"
    >
    </sebm-google-map-circle>-->

    <!-- Home Location -->
    <sebm-google-map-marker
            *ngIf="!config.game_is_running"
            (markerClick)="onInfoWindowOpen(infowindow)"
            [latitude]="config.home_location_lat"
            [longitude]="config.home_location_long"
            [iconUrl]="{
                path: fa.markers.FLAG,
                scale: 0.5,
                anchor: {x: 20, y: -30},
                strokeWeight: 2,
                strokeColor: 'white',
                strokeOpacity: 1,
                fillColor: 'green',
                fillOpacity: 1
            }"
    >
      <sebm-google-map-info-window [disableAutoPan]="true" #infowindow>
        <h3>{{config.home_location_title}}</h3>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>


    <!-- Station Icons -->
    <sebm-google-map-marker
            *ngFor="let station of stations"
            (markerClick)="onInfoWindowOpen(infowindow)"
            [latitude]="station.pos_lat"
            [longitude]="station.pos_long"
            [iconUrl]="{
                path: 0,
                fillColor: getStationColor(station.team),
                fillOpacity: (station.team == myTeam ? 0.5 : 0),
                strokeColor: getStationColor(station.team),
                strokeWeight: 3,
                scale: 8
            }"
    >
      <sebm-google-map-info-window [disableAutoPan]="true" #infowindow>
        <h3>{{station.name}}</h3>
        <ion-item *ngIf="teams[station.team]">
          <ion-avatar item-left *ngIf="teams[station.team].img_ID">
              <img [src]="teamService.imageUrl(teams[station.team].img_ID)">
          </ion-avatar>
          <h2>
              {{teams[station.team].name}}
          </h2>
          <p *ngIf="station.team == myTeam"><i>Diese Station gehört deinem Team.</i></p>
          <p *ngIf="station.team != myTeam">
            Diese Station gehört {{teams[station.team].name}}<br>
          </p>
        </ion-item>
        <div *ngIf="!teams[station.team]">
          Diese Station gehört noch keinem Team.
        </div>
        <br>
        <div *ngIf="userLocation && station.team != myTeam" >
          <div *ngIf="inRange(station.pos_lat, station.pos_long)">
            <button ion-button full (click)="openCaptureModal(station)">Einnehmen</button>
          </div>
          <div *ngIf="!inRange(station.pos_lat, station.pos_long)">
            <button ion-button full disabled (click)="openCaptureModal(station)">zu weit weg</button>
          </div>
          
        </div>
        <div *ngIf="!userLocation">
          <b>Kein Standort gefunden</b><br>
          Station kann nicht eingenommen werden.
        </div>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <!-- User Location Icon -->
    <sebm-google-map-marker
            *ngIf="userLocation"
            [latitude]="userLocation.lat"
            [longitude]="userLocation.lng"
            [iconUrl]="{
                url: '/assets/bluecircle.png',
                anchor: {x: 8, y: 8},
                size: {width: 16, height: 16},
                scaledSize: {width: 16, height: 16}
            }"
    >
    </sebm-google-map-marker>

    <!-- Mrx Paths -->
    <span *ngFor="let mrx of mrxs">
      <sebm-google-map-polyline
              [editable]="false"
              [clickable]="false"
              [polylineDraggable]="false"
              strokeColor="#c1272d"
              strokeWeight="3"
              strokeOpacity="0.7"
      >
         <sebm-google-map-polyline-point
                 *ngFor="let location of mrx.locations"
                 [latitude]="location.xpos_lat"
                 [longitude]="location.xpos_long"
         >
         </sebm-google-map-polyline-point>
       </sebm-google-map-polyline>
    </span>

    <!-- Mrx Icons -->
    <sebm-google-map-marker
            *ngFor="let mrx of mrxs"
            (markerClick)="onInfoWindowOpen(infowindow)"
            [latitude]="mrx.locations[0].xpos_lat"
            [longitude]="mrx.locations[0].xpos_long"
            [iconUrl]="{
                url: '/assets/mrx.png',
                anchor: {x: 13, y: 15},
                size: {width: 27, height: 30},
                scaledSize: {width: 27, height: 30}
            }"
    >
      <sebm-google-map-info-window [disableAutoPan]="true" #infowindow>
        <h3>{{mrx.name}}</h3>
        <div>
          {{mrx.locations[0].description}}
        </div>
        <ion-note>
          {{mrx.locations[0].timestamp | date:'HH:mm'}}
        </ion-note>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>


    <!-- Riddles -->
    <span *ngFor="let riddle of riddles">
      <span *ngIf="riddle.pos_lat && riddle.state != 'SOLVED'">

        <!-- Riddle Radius -->
        <sebm-google-map-circle
                [latitude]="riddle.pos_lat"
                [longitude]="riddle.pos_long"
                [radius]="config.riddle_radius"
                [fillColor]="black"
                [fillOpacity]="0.1"
                [circleDraggable]="false"
                [editable]="false"
                [clickable]="false"
        >
        </sebm-google-map-circle>


        <!-- Riddle Icons -->
        <sebm-google-map-marker
                (markerClick)="onInfoWindowOpen(infowindow)"
                [latitude]="riddle.pos_lat"
                [longitude]="riddle.pos_long"
                [iconUrl]="{
                    path: fa.markers.QUESTION,
                    scale: 0.5,
                    anchor: {x: 20, y: -30},
                    strokeWeight: 2,
                    strokeColor: 'white',
                    strokeOpacity: 1,
                    fillColor: getRiddleStateColor(riddle.state),
                    fillOpacity: 1
                }"
        >
          <sebm-google-map-info-window [disableAutoPan]="true" #infowindow>
            <page-riddle-detail [riddle]="riddle"></page-riddle-detail>
          </sebm-google-map-info-window>
        </sebm-google-map-marker>
      </span>
    </span>
  </sebm-google-map>
</ion-content>
