<ion-header>
  <ion-navbar>
    <ion-title>
      Map
      <ion-spinner *ngIf="isRefreshing"></ion-spinner>
    </ion-title>
    <ion-buttons end>
      <button *ngIf="!isRefreshing" ion-button icon-only (click)="updateMap()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only (click)="zoomToMyLocation()">
        <ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentActionSheet()" >
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <agm-map
          #gmap
          [latitude]="default_lat"
          [longitude]="default_lng"
          [zoom]="default_zoom"
          [streetViewControl]="false"
          [mapTypeControl]="true"
          [usePanning]="true"
          [clickableIcons]="false"
  >

    <!-- Station Radius
    <agm-circle
            *ngFor="let station of stations"
            [latitude]="station.pos_lat"
            [longitude]="station.pos_long"
            [radius]="config.station_radius"
            [fillColor]="getStationColor(station.team)"
            [fillOpacity]="0.1"
            [circleDraggable]="false"
            [editable]="false"
            [clickable]="false"
    >
    </agm-circle>-->

    <div *ngIf="!config.game_is_running">
      <!-- Home Location -->
      <agm-marker
              *ngIf="!showTutorial()"
              (markerClick)="onInfoWindowOpen(infowindow)"
              [latitude]="config.home_location_lat"
              [longitude]="config.home_location_long"
              [iconUrl]="{
                  path: fa.markers.FLAG,
                  scale: 0.5,
                  anchor: {x: 20, y: -30},
                  strokeWeight: 2,
                  strokeColor: '#000000',
                  strokeOpacity: 1,
                  fillColor: '#008400',
                  fillOpacity: 1
              }"
      >
        <agm-info-window [disableAutoPan]="true" [maxWidth]="300" #infowindow>
          <h3>{{config.home_location_title}}</h3>
        </agm-info-window>
      </agm-marker>

      <!-- Tutorial Station -->
      <agm-marker
              *ngIf="showTutorial()"
              (markerClick)="onInfoWindowOpen(infowindow)"
              [latitude]="tutorialStation.pos_lat"
              [longitude]="tutorialStation.pos_long"
              [iconUrl]="{
                  path: 0,
                  fillColor: '#008400',
                  fillOpacity: (tutorialCompleted ? 0.5 : 0),
                  strokeColor: (tutorialCompleted ? '#008400' : '#000000'),
                  strokeWeight: (tutorialCompleted ? 3 : 1),
                  scale: 8
              }"
      >
        <agm-info-window [disableAutoPan]="true" [maxWidth]="300" #infowindow>
          <h3>Tutorial Station</h3>
          <div *ngIf="tutorialStationCaptured">
            <div>
              Gratulation! Die Station gehört jetzt deinem Team.
              <br><br>
            </div>
            <button ion-button full color="secondary" (click)="finishTutorial()">Tutorial abschliessen</button>
          </div>
          <div *ngIf="!tutorialStationCaptured">
            <div>
              Dies ist eine Station. Sie gehört noch keinem Team.<br>
              Du kannst sie für dein Team einnehmen.<br>
              <br>
              Alle 5 Minuten erhaltet ihr Punkte für jede Station,<br>
              die eurem Team gehört.
              <br><br>
            </div>
            <br>
            <div *ngIf="userLocation">
              <div *ngIf="inRange(tutorialStation.pos_lat, tutorialStation.pos_long)">
                <button ion-button full (click)="openCaptureModal(tutorialStation)">Einnehmen</button>
              </div>
              <div *ngIf="!inRange(tutorialStation.pos_lat, tutorialStation.pos_long)">
                <button ion-button full disabled (click)="openCaptureModal(tutorialStation)">zu weit weg</button>
              </div>

            </div>
          </div>
          <div *ngIf="!userLocation">
            <b>Kein Standort gefunden</b><br>
            Station kann nicht eingenommen werden.
          </div>
        </agm-info-window>
      </agm-marker>
    </div>



    <!-- Station Icons -->
    <agm-marker
            *ngFor="let station of stations; trackBy:trackByStationId"
            (markerClick)="onInfoWindowOpen(infowindow)"
            [latitude]="station.pos_lat"
            [longitude]="station.pos_long"
            [iconUrl]="{
                path: 0,
                fillColor: getStationColor(station.team),
                fillOpacity: (station.team ? 0.5 : 0),
                strokeColor: (station.team == myTeam ? '#008400' : '#000000'),
                strokeWeight: (station.team == myTeam ? 3 : 1),
                scale: 8
            }"
    >
      <agm-info-window [disableAutoPan]="true" [maxWidth]="300" #infowindow>
        <h3>{{station.name}}</h3>
        <ion-item *ngIf="teams[station.team]">
          <ion-avatar item-left *ngIf="teams[station.team].img_ID">
              <img [src]="teamService.imageUrl(teams[station.team].img_ID)">
          </ion-avatar>
          <h2>
              {{teams[station.team].name}}
          </h2>
          <p *ngIf="station.team == myTeam"><i ion-text color="secondary">Gehört deinem Team</i></p>
          <p *ngIf="station.team != myTeam">
            Diese Station gehört {{teams[station.team].name}}<br>
          </p>
        </ion-item>
        <div *ngIf="!teams[station.team]">
          Diese Station gehört noch keinem Team.
        </div>
        <br>
        <div *ngIf="!isMrx && userLocation && station.team != myTeam" >
          <div *ngIf="inRange(station.pos_lat, station.pos_long)">
            <button ion-button full (click)="openCaptureModal(station)">Einnehmen</button>
          </div>
          <div *ngIf="!inRange(station.pos_lat, station.pos_long)">
            <button ion-button full disabled (click)="openCaptureModal(station)">zu weit weg</button>
          </div>
          
        </div>
        <div *ngIf="!userLocation">
          <b>Kein Standort gefunden</b><br>
          Station kann nicht eingenommen werden.
        </div>
      </agm-info-window>
    </agm-marker>

    <!-- User Location Icon -->
    <agm-marker
            *ngIf="userLocation"
            [latitude]="userLocation.lat"
            [longitude]="userLocation.lng"
            [iconUrl]="{
                url: 'assets/bluecircle.png',
                anchor: {x: 8, y: 8},
                size: {width: 16, height: 16},
                scaledSize: {width: 16, height: 16}
            }"
    >
    </agm-marker>

    <!-- Mrx Paths -->
    <span *ngFor="let mrx of mrxs">
      <agm-polyline
              [editable]="false"
              [clickable]="false"
              [polylineDraggable]="false"
              strokeColor="#c1272d"
              strokeWeight="3"
              strokeOpacity="0.7"
      >
         <agm-polyline-point
                 *ngFor="let location of mrx.locations"
                 [latitude]="location.xpos_lat"
                 [longitude]="location.xpos_long"
         >
         </agm-polyline-point>
       </agm-polyline>
    </span>

    <!-- Mrx Icons -->
    <ng-container *ngFor="let mrx of mrxs">
      <agm-marker
              *ngIf="mrx.locations.length > 0"
              (markerClick)="onInfoWindowOpen(infowindow)"
              [latitude]="mrx.locations[0].xpos_lat"
              [longitude]="mrx.locations[0].xpos_long"
              [iconUrl]="{
                  url: 'assets/mrx.png',
                  anchor: {x: 13, y: 15},
                  size: {width: 27, height: 30},
                  scaledSize: {width: 27, height: 30}
              }"
      >
        <agm-info-window [disableAutoPan]="true" [maxWidth]="300" #infowindow>
          <h3>{{mrx.name}}</h3>
          <div *ngFor="let loc of mrx.locations; let i = index;" class="mrx-location-description">
            <b *ngIf="i == 0">
              <span class="mrx-timestamp">{{loc.timestamp | date:'HH:mm'}}</span> {{loc.description}}
            </b>
            <span *ngIf="i > 0">
              <span class="mrx-timestamp">{{loc.timestamp | date:'HH:mm'}}</span> {{loc.description}}
            </span>
          </div>
        </agm-info-window>
      </agm-marker>
    </ng-container>


    <!-- Riddles -->
    <span *ngFor="let riddle of riddles">
      <span *ngIf="riddle.pos_lat && riddle.state != 'SOLVED'">

        <!-- Riddle Radius -->
        <!--
        <agm-circle
                [latitude]="riddle.pos_lat"
                [longitude]="riddle.pos_long"
                [radius]="config.riddle_radius"
                [fillColor]="black"
                [fillOpacity]="0.1"
                [circleDraggable]="false"
                [editable]="false"
                [clickable]="false"
        >
        </agm-circle>
        -->

        <!-- Riddle Icons -->
        <agm-marker
                (markerClick)="onInfoWindowOpen(infowindow)"
                [latitude]="riddle.pos_lat"
                [longitude]="riddle.pos_long"
                [iconUrl]="{
                    path: fa.markers.QUESTION,
                    scale: 0.5,
                    anchor: {x: 20, y: -30},
                    strokeWeight: 2,
                    strokeColor: 'white',
                    strokeOpacity: 1,
                    fillColor: getRiddleStateColor(riddle.state),
                    fillOpacity: 1
                }"
        >
          <agm-info-window [disableAutoPan]="true" [maxWidth]="300" #infowindow>
            <page-riddle-detail [riddle]="riddle"></page-riddle-detail>
          </agm-info-window>
        </agm-marker>
      </span>
    </span>
  </agm-map>
</ion-content>
