page-map {
  .sebm-google-map-container {
    width: 100%;
    height: 100%;
  }

  .spinner {
    width: 16px;
    height: 16px;
  }

  .spinner svg {
    width: 16px;
    height: 16px;
  }

  .mrx-timestamp {
    color: #888;
  }
}
